.container {
    margin: 0 auto 0;
    border-radius: 4px;
    text-align: left;
    padding: 20px;
    
}

h1 {
    margin: 0;
}


.button__primary {
    padding: 10px 20px;
    background:rgb(55, 173, 167);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin: 10px 0 20px;
}


table {
    width: 800px;
    border: none;
    border-collapse: collapse;
}

table th {
    background-color: #fff;
    font-size: 20px;
    padding: 5px 0 8px 10px;
}

table tr td{
    padding: 10px 10px;
}

table tr:nth-child(odd) {
    background-color: #eee;;
}

table tr td:first-child{
    color:rgb(55, 173, 167);
}

.newBookWrapper {
    width: 800px;
}

.newBookWrapper div {
    margin-top: 30px;
}

label {
    width: 150px;
    display: inline-block;
}

input {
    height: 25px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}


